.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
overflow: hidden;
    zoom:1; /* Хак для IE 6 и 7 */
}


// Зануление:
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
}
.logo, .injiner, .contact{
    width: 333px;
    float: left;
}
.header .logo{
    text-align: center;
}
.header .logo a{
    text-decoration: none;
    font-size: 40px;
    color: black;
}
.header .logo p{
    margin-top: 5px;
}
.header .injiner .circle{
    width: 75px;
    height: 75px;
    background: red;
    border-radius: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.header .injiner .desc{
    background: green;
    color: white;
    padding: 5px;
    border: 1px solid black;
    width: 220px;
    margin: 30px 25px 0px 0px;
    float: right;
}
.header .injiner{
    position: relative;
}
.header .contact a{
    float: right;
}
.header .contact input{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    color: red;
}
.menu{
    list-style: none;
    border: 1px solid;
    padding: 4px 0px 4px 0px;
    font-size: 17px;
    font-weight: 900;
}
.menu li{
    float: left; 
    text-transform: uppercase;
    border-right: 1px solid;
}
.menu li:last-child{
    border: none;
}
.menu li a{
    padding: 5px 16px;
    text-decoration: none;
    color: black;
}
.menu li a:hover{
    background: yellow;
}
.main li{
    border-bottom: 1px solid;
}
.main ul{
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}
.main a{
    text-decoration: none;
    color: black;

}
.main ul li{
    font-size: 25px;
    padding: 5px
}
ul li ul{
    display: none;

}


ul li:hover > ul{
  display: block;
  margin-left: 20px;
}
.main .non_b  {
    border: none;
}
.katalog{
    width: 300px;
    font-size: 40px;
    color: black;
    border-bottom: 1px solid;
    
}
.main{
    border: 1px solid;
    padding: 5px;
    font-size: 20px;
    width: 285px;
    float: left;
}
.main li{
    font-size: 20px;
}
.photo{
    float: left;
    width: 390px;
}
.photo img{
    width: 370px;
    margin: 10px;
    float: left;
}
.photo img:first-child{
    float: left;
}
.photo .mini_photo img{
    width: 170px;
}
.photo .mini_photo img:last-child{
margin-left: 20px;
}
.table {
    float: right;
}
.buying {
    font-size: 20px;
    float: left;
    margin: 74px 20px 0px 0px;
}

.buying .buy form button{
    font-size: 30px;
    text-align: center;
    background: red;
    width: 255px;
    height: 50px;
    padding-top: 7px;
    margin-top: 20px;
}
.empty{
    width: 300px;
    height: 470px;
    float: left;
}
.description{
    float: left;
    width: 700px;
}
.description .desc{
    font-size: 20px;
    text-transform: uppercase;
    margin: 30px 0px 10px 0px;
    float: left;
}
.description .desc_1{
    float: left;
    width: 700px;
}
.description .desc_2{
    margin-top: 30px;
    list-style: circle;
}
.description .utext_1{
    color: red;
    font-weight: 900;
}
.description .utext_2{
    color: red;
    font-size: 15px;
}
.accessories{
    float: left;
    width: 1000px;
}
.accessories h3{
    font-size: 35px;
}
.accessories .access_1{
    float: left;
}
.accessories .access{
    margin: 0px 2px 5px 0px;
    border: 1px solid;
    padding: 3px 3px 7px 3px;
    width: 240px;
    height: 360px;
    float: left;
}
.access, img{
    width: 240px;
    height: 190px;
}
.access p{
    margin-left: 5px;
}
.access h4{
    text-align: center;
}
.access .buy{
    float: left;
    margin:0px 75px 30px 10px;
    padding-top: 2px;
}
.access .butt{
    font-weight: 700;
    font-size: 14px;

}

.footer{
    width: 966px;
    border: 1px solid;
    padding-left: 30px;
    float: left;
}
.footer .help{
    float: left;
    width: 230px;
}
.footer .help h2{
    font-size: 30px;
}
.footer .help li{
    list-style: none;
    font-size: 20px;
}
.footer .contact_foo{
    width: 250px;
}
.footer .contact_foo .circle {
    width: 75px;
    height: 75px;
    background: red;
    border-radius: 40px;
    float: left;

}
.footer .contact_foo .num{
    width: 250px;
    float: left;
    margin-top: 10px;
}
.footer .contact_foo .num .number{
    line-height: 5;
}
.footer .contact_foo .num .mail{
    line-height: 5;
}




































